.header
  .header__left
    .header__logo
      =link_to blogs_path, class: "header__logo-text" do
        Blog
    .header__user-name
      Login user：
      =current_user.name
      =link_to edit_user_path(current_user), class: "edit-user" do
        = fa_icon 'cog', class: 'icon'
        
  .header__right
    .top-menu1
      %p Menu
    =link_to destroy_user_session_path, method: :delete, class: "top-menu2" do
      %p Signout

  .blog-form
    .input-box
      = form_for [@blog], html: {class: "new_blog"} do |f|
        -# form_forを使った非同期化を行う場合、form_forに対して必ず「html: {class: "任意のクラス名"}」を付与する。
        = f.text_area :content, maxlength: 50 ,cols: 29.5, rows: 12, class: 'input-box__text', placeholder: '  入力してください（50文字まで）'
        .input-box__image
          = f.label :image, class: 'input-box__image__file' do
            = fa_icon 'image', class: 'icon'
            = f.file_field :image, class: 'input-box__image__file__hidden'

        .close__btn
          Close
        = f.submit 'Send', class: 'input-box__submit'

  .before-form
    New!

  .main-menu